# Virtual environment
venv/

# IDE / editor configs
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Large dataset files (too big for GitHub)
*.csv
*.zst

# HuggingFace model cache
.cache/

# Node modules (frontend)
node_modules/

# Generated Knowledge Graph and Embeddings (too large for GitHub)
backend/data/*.json
backend/data/*.pt
model.pt
keyphrase_dataset/
books_dataset/graph.json
